h5py
numpy<2,>=1.22.4,
scipy
scikit-learn
jupyterlab
ipympl
matplotlib
simply-nwb
pynwb
pendulum
numexpr
llvmlite
numba
graph-judge==0.0.6
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
